<form method="post" action="{{ path('bet_delete', {'id': bet.id}) }}" onsubmit="return confirm('Are you sure you want to delete your bet ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bet.id) }}">
    <button class="btn btn-sm btn-red"><i class="fas fa-trash"></i></button>
</form>
