<nav class="text-center">
    <a href="{{path('excuse_of_the_day_timer')}}" class="nav-link js-timer" id="demo"></a>
</nav>

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    var fromNextExcuseOfTheDay = document.querySelector('a.js-timer')
    axios.get(fromNextExcuseOfTheDay.href)
        .then(response => {
            var countDownDate = new Date(response.data.date);
            getTimer(countDownDate)
        }).catch(error => {
            if (error.response.status === 403) {
                window.alert("Erreur !")
            }
        })

    getTimer = (countDownDate) => {
        var x = setInterval(function () {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("demo").innerHTML = 'Fermeture des paradeals dans ' + hours + "h "
                + minutes + "m " + seconds + "s ";

            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "EXPIRED";
            }
        }, 100)
    }
</script>
{% endblock %}