<div class="form">
    {{ form_start(form) }}
        {{ form_widget(form.excuse, { "attr": {"class": "form-control my-2", "placeholder": "Username"}})
    }}
        <button class="btn btn-blue">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>
