{% extends 'base.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block body %}
<div class="container">
    <h4>New Excuse Of The Day</h4>
        {{ include('excuse_of_the_day/_form.html.twig') }}
    <div class="text-right mt-5">
        <a href="{{ path('excuse_of_the_day_index') }}" class="btn btn-green mt-5">Back to list</a>
    </div>
</div>
{% endblock %}
