{{ form_start(form) }}
    {{ form_widget(form.text, { "attr": {"class": "form-control my-2" }})
}}
    <button class="btn btn-sm btn-red">{{ button_label|default('Balancer !') }}</button>
{{ form_end(form) }}
