{{ form_start(form) }}
    {{ form_widget(form.text, { "attr": {"class": "form-control my-2", "placeholder": "Bla-bla-bla ici ..." }})
}}
    <button class="btn btn-sm btn-red">{{ button_label|default('Bullshiter !') }}</button>
{{ form_end(form) }}
