{{ form_start(form) }}
    {{ form_widget(form.text, { "attr": {"class": "form-control my-2", "placeholder": "Nouvelle parashit ..." }})
}}
    <button class="btn btn-sm btn-red">{{ button_label|default('Balancer cette 💩') }}</button>
{{ form_end(form) }}
