{% extends 'base.html.twig' %}
{% block title %}Nouvelle excuse - ParaCroco{% endblock %}
{% block body %}
<div class="bg-tapis"></div>
<div class="container after_bgContainer">
    {{ include('excuse/_form.html.twig') }}
</div>
<audio src="{{asset('assets/audio/uskypariscestgotham.mp3')}}" autoplay></audio>
{% endblock %}
