{% extends 'base.html.twig' %}

{% block title %}New Excuse{% endblock %}

{% block body %}
<div class="bg-tapis"></div>
<div class="container after_bgContainer">
    <h3 class="title">Créer une excuse : </h3>
    {{ include('excuse/_form.html.twig') }}
</div>

    

{% endblock %}
