{% extends 'base.html.twig' %}
{% block title %}Nouvelle excuse - ParaCroco{% endblock %}
{% block body %}
<div class="bg-tapis"></div>
<div class="container after_bgContainer">
    <h3 class="title">Ajouter cette 💩</h3>
    {{ include('excuse/_form.html.twig') }}
</div>
{% endblock %}
