{% extends 'base.html.twig' %}
{% block title %}Bullshiter - CrocoDeal{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/player_gotham.css')}}">
{% endblock  %}
{% block body %}
<div class="bg-tapis"></div>
<div class="container after_bgContainer text-center">
    {{ include('excuse/_form.html.twig') }}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <div class="album">
                <div class="album-art"></div>
                <div class="vinyl"></div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-12 mt-2">
            <audio src="{{asset('assets/audio/uskypariscestgotham.mp3')}}" autoplay controls></audio>
        </div>
    </div>
</div>
{% endblock %}